/* top-level grid container */

.app {
  display: grid;
  grid-gap: 10px;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 666px;
}

@media only screen and (min-width: 1000px) {
   .app {
    grid-template-columns: 160px 160px 1fr;
    grid-template-rows: 30px minmax(200px, 1000px) 120px;
    grid-template-areas: 
      "header header header"
      "states counties chart"
      "notes  notes    chart";
  }

  .chart {
    margin-top: 25px;
  }

  .lastRow {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 999px) {
   .app {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "chart";
  }

  .lastRow {
    padding-top: 10px;
  }
}

/* top-level grid items */

.state {
  grid-area: states;
  min-height: 0;
  max-height: 100%;
  margin-left: 10px;
}

.county {
  grid-area: counties;
  min-height: 0;
  max-height: 100%;
  margin-left: 0px;
}

.notes {
  grid-area: notes;
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
}

.header {
  grid-area: header;
  font-size: 13px;
  text-align: center;
  line-height: 1.4;
}

.chart {
  grid-area: chart;
  flex: auto;
  min-width: 0px;
  position: relative;  
}

/* Contents of notes box and About dialog */

.notesContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 1fr 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.dateControl {
  grid-row: 1;
  grid-column: 1;
  margin-left: -15px;
  width: 100%;
}

.dateFormControl {
  width: 100%;
}

.notesText {
  grid-row: 2;
  grid-column: 1;
  margin-top: 10px;
  margin-right: 20px;
}

.lastRow {
  /* as an item */
  grid-row: 3;
  grid-column: 1;
  margin-top: 10px;
  opacity: 0.5;

  /* as a container */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.socialIconT {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.socialIconH {
  margin-top: 3px;
  height: 25px;
  width: 25px;
  margin-right: 6px;
}

.socialIconF {
  height: 25px;
  width: 25px;
  margin-right: 2px;
}

.socialIconE {
  height: 33px;
  width: 33px;
  margin-right: 10px;
}

/* small app size */

.stateSelector {
  position: absolute;
  right: 280px;
  bottom: 3px;
}

.countySelector {
  position: absolute;
  right: 128px;
  bottom: 3px;
}

/* misc */

.myheader {
  font-size: 23px;
  font-weight: bold;
}

p {
  margin-top: 7px;
  margin-bottom: 0px;
}
