.regionMenu {
  left: 20px;
  width: 120px;
}

.upDownButtons {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.upDownButton {
  height: 15px;
}
