
.chartRoot {
  position: relative;
  background-color: #cceeee;
  border-radius: 15px;
}

.chartControls {
  position: absolute;
  top: 5px;
  left: 10px;
  display: grid;
  grid-template-columns: 70px 60px;
  grid-template-rows: 30px 20px;
  grid-template-areas: 
    "log   cumulative"
    "label slider";
}

.log {
  grid-area: log;
}

.label {
  margin-top: 2px;
  grid-area: label;
}

.slider {
  margin-top: -3px;
  margin-left: -10px;
  grid-area: slider;
}

.cumulative {
  grid-area: cumulative;
}

.MuiFormControlLabel-label {
  font-size: 8px;
}