
.chartRoot {
  position: relative;
  background-color: #fafafa;
  border-radius: 15px;
  padding-top: 10px;
}

.smallChartControls {
  position: absolute;
  bottom: 5px;
  right: 10px;
  left: 10px;
  justify-items: end;  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 23px 23px 23px 23px;
  grid-template-areas: 
    "log"
    "smooth"
    "cumulative"
    "per100000";
}

.bigChartControls {
  position: absolute;
  top: 0px;
  left: 10px;
  display: grid;
  grid-template-columns: 70px 60px;
  grid-template-rows: 19px 19px 19px 19px;
  grid-template-areas: 
    "label slider"
    "cumulative cumulative"
    "log log"
    "per100000 per100000";
}

.bigCompareButton {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.smallCompareButton {
  position: absolute;
  bottom: 40px;
  right: 115px;
}

.log {
  grid-area: log;
}

.label {
  margin-top: 2px;
  grid-area: label;
}

.slider {
  margin-top: -3px;
  margin-left: -10px;
  grid-area: slider;
}

.smooth{
  grid-area: smooth;
}

.cumulative {
  grid-area: cumulative;
}

.per100000{
  grid-area: per100000;
}

.appTitle {
  position: absolute;
  bottom: -5px;
  left: 0px;
  text-align: left;
}

.updateDate {
  position: absolute;
  bottom: 19px;
  left: 0px;
  text-align: left;
}
